<div class="form-group">
  <div class="form-row">
    <div class="space-between-area">
      <app-search-condition
        [searchCondition]="searchCondition"
      >
      </app-search-condition>
      <div>
        <button mat-raised-button color="primary" (click)="regRoomAccessMng(null)" *ngIf="user.authCheck(21)">{{ 'Add' | translate }}</button>
        <button mat-raised-button color="primary" (click)="simpleGrid.downloadCSV()">{{ 'downloadCsv' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="grid-area">
  <app-simple-grid
    [gridName]="'roomAccessMng'"
    [columnDefine]="columnDefine"
    [dataSource]="dataSource"
  >
  </app-simple-grid>
</div>
